*,
*::after,
*::before{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

form input {
    text-align: center;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

form input, body {
    text-align: center;
}
